<div class="flex flex-row w-screen h-screen bg-grey-200 overflow-auto">
    <div class="sticky top-0 h-full p-4">
        <app-sidebar class="h-auto"></app-sidebar>
    </div>

    <div class="flex flex-row bg-grey-200 w-5/6 p-6 h-full">
        <div class="w-3/4 h-full">
            <app-header title="Dashboard"></app-header>
            <main class="flex w-full">
                <div class="mx-auto px-4 sm:px-6 md:px-8">
                    <div class="w-full h-full">
                        <!-- <form #ngForm class="flex flex-col justify-center items-center">
                            <div class="mt-1 relative rounded-md h-14 w-96">
                                <input [(ngModel)]="searchField" (keyup.enter)="search()" type="text" name="searchField" id="searchField" class="focus:ring-indigo-500 focus:border-indigo-500 block w-full pr-10 border-gray-300 rounded-2xl p-4 bg-grey-3" placeholder="Search for skills here">
                                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                    </svg>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
            </main>
        </div>
        <div class="w-1/4 h-full">
            <app-notification-bar></app-notification-bar>
        </div>
    </div>
</div>