<div class="relative z-10 flex-shrink-0 flex h-16 mb-6">
    <div class="flex-1 px-4 flex justify-between">
        <div class="flex-1 flex">
            <div class="md:flex md:items-center md:justify-between">
                <div class="flex-1 min-w-0">
                    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
                        Notifications
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <app-notification-item skill="Blockchain" manager="Aayush" time="20 mins" comment="Looks good to me, Approved"></app-notification-item>
    <app-notification-item skill="Blockchain" manager="Aayush" time="20 mins" comment="Looks good to me, Approved"></app-notification-item>
    <app-notification-item skill="Blockchain" manager="Aayush" time="20 mins" comment="Looks good to me, Approved"></app-notification-item>
</div>