<div class="flex flex-row w-screen h-screen">
    <div class="w-1/2 bg-login-illustration bg-cover"></div>
    <div class="flex flex-col w-1/2 bg-grey-200 justify-center items-center text-custom-200">
        <div class="flex flex-col font-extrabold text-left">
            <span class="text-4xl m-2">Log In.</span>
            <span class="text-5xl m-2">Welcome Back!</span>
        </div>
        <div class="flex flex-col m-4">
            <div class="flex flex-col m-2">
                <label for="email" class="text-lg font-bold">Email</label>
                <input type="text" name="" id="" class="w-96 h-12 rounded-lg p-4 font-bold" placeholder="you@example.com">
            </div>
            <div class="flex flex-col m-2">
                <label for="password" class="text-lg font-bold">Password</label>
                <input type="password" name="" id="" class="w-96 h-12 rounded-lg p-4 font-bold" placeholder="••••••••">
            </div>
        </div>
        <div class="m-4">
            <button (click)="logout()" class=" flex flex-row bg-theme-primary w-96 h-12 rounded-lg p-4 font-bold justify-center items-center">
                <span class="text-white">Log In</span>
            </button>
        </div>
        <div class="relative w-96 m-4">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
                <div class="w-full border-t border-custom-200"></div>
            </div>
            <div class="relative flex justify-center">
                <span class="px-2 bg-grey-200 text-sm ">
                    Or
                </span>
            </div>
        </div>
        <div>
            <button (click)="login()" class="flex flex-row bg-white w-96 h-12 rounded-lg p-4 font-bold justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" class="mr-3">
                    <title>MS-SymbolLockup</title>
                    <rect x="1" y="1" width="9" height="9" fill="#f25022" />
                    <rect x="1" y="11" width="9" height="9" fill="#00a4ef" />
                    <rect x="11" y="1" width="9" height="9" fill="#7fba00" />
                    <rect x="11" y="11" width="9" height="9" fill="#ffb900" />
                </svg>
                <span class="text-custom-200">Sign in with Microsoft</span>
            </button>
        </div>
    </div>
</div>