<div class="flex flex-col bg-white rounded-3xl p-6 m-4">

    <div class="flex flex-col">
        <div class="w-auto">
            <span class="inline-flex items-center px-2.5 py-1 rounded-full text-base font-medium bg-green-100 text-green-800">
                {{skill}}
            </span>
        </div>
        <div class="mt-4 text-lg text-grey-body">
            <span class="font-semibold">
                {{manager}}
            </span>
            <span>
                commented
            </span>
            <span class="font-semibold">
                {{comment}}
            </span>
        </div>
        <span class="mt-4 text-sm text-grey-500">{{time}} ago</span>
    </div>
</div>