<div class="flex flex-row w-screen h-screen bg-grey-200 overflow-auto">
    <div class="sticky top-0 h-full p-4">
        <app-sidebar class="h-auto"></app-sidebar>
    </div>

    <div class="flex flex-row bg-grey-200 w-5/6 p-6 h-full">
        <div class="w-3/4 h-full">
            <app-header title="Approve Requests"></app-header>
            <main class="flex w-full">
                <div class="mx-auto px-4 sm:px-6 md:px-8">
                    <div class="w-full h-full">
                        <div *ngFor="let user of data; index as i;" class="flex flex-col">
                            <div>Employee email: {{user.email}}</div>
                            <div *ngFor="let skill of user.skills">
                                <div>Skill Name: {{skill.trackDetails}}</div>
                                <div>Profeciency: {{skill.profiency}}</div>
                                <div>Level 1: {{skill.levelOne}}</div>
                                <div>Level 2: {{skill.levelTwo}}</div>
                                <div>Level 3: {{skill.levelThree}}</div>
                                <div>Level 4: {{skill.levelFour}}</div>
                            </div>
                            <button type="button" (click)="approveSkill(i)" class="
                py-2
                px-4
                bg-green-600
                hover:bg-green-700
                focus:ring-green-500 focus:ring-offset-green-200
                text-white
                w-auto
                transition
                ease-in
                duration-200
                text-center text-base
                font-semibold
                shadow-md
                focus:outline-none
                focus:ring-2 focus:ring-offset-2
                rounded-lg
              ">
                                Approve
                            </button>
                            <button type="button" class="
                py-2
                px-4
                bg-yellow-600
                hover:bg-yellow-700
                focus:ring-yellow-500 focus:ring-offset-yellow-200
                text-white
                w-auto
                transition
                ease-in
                duration-200
                text-center text-base
                font-semibold
                shadow-md
                focus:outline-none
                focus:ring-2 focus:ring-offset-2
                rounded-lg
              ">
                                Comment
                            </button>
                            <div *ngIf="comment">
                                <form [formGroup]="addComment" (ngSubmit)="onSubmit()">
                                    <div class="mt-8">
                                        <label for="">Comment</label>
                                        <textarea formControlName="message" name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="mt-8">
                                        <label for="profiency" class="font-semibold text-xl text-gray-700">New Proficiency</label>
                                        <div class="mt-2 h-16 w-96">
                                            <input formControlName="newProficiency" name="profiency" id="profiency" class="rounded-lg overflow-hidden appearance-none bg-white h-1/2 w-full" type="range" min="1" max="5" step="1" value="3" />
                                        </div>
                                    </div>
                                    <button class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div class="w-1/4 h-full">
            <app-notification-bar></app-notification-bar>
        </div>
    </div>
</div>